<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hunter Home Page</title>
</head>
<body>
    <%- include(`./partials/nav`, {page : ''}) %>
    <h1><%= data.fullName %></h1>

    <h3>Phone Number: <%= data.phone_number %></h3>
    <h3>Hunting Experience: <%= data.hunting_experience %></h3>
    <h3>Team Size: <%= data.hunting_experience %></h3>
</body>
</html>