<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Sites</title>
</head>
<body>
    <h1>Site List</h1>
    <div>
        <table border="1">
            <tr>
                <th>Site Name</th>
                <th>Location</th>
                <th>Area</th>
                <th>Owner</th>
                <th>Send Request</th>
            </tr>
            <% sites.forEach(site => {%>
            <tr>
                <td><%= site.name %></td>
                <td><%= site.location %></td>
                <td><%= site.area %> ha</td>
                <td><%= site.Owner.fullName %></td>
                <td><a href="/sites/<%= site.id %>/request">Send Request</a></td>
            </tr>
            <% }) %>
        </table>
    </div>
</body>
</html>