<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Site Request</title>
</head>
<body>
    <h1><%= owner.fullName %> Here's the list of applicant of <%= site.name %></h1>

    <table border="1">
        <tr>
            <th>Hunter Name</th>
            <th>Hunting Experience</th>
            <th>Action</th>
        </tr>
        <% request.forEach(req => { %>
        <tr>
            <td><%= req.FossilHunter.fullName %></td>
            <td><%= req.FossilHunter.hunting_experience %> years</td>
            <td><a href="/owners/request/<%= req.FossilHunter.id %>/<%= site.id %>/accept">Accept</a> | <a href="/owners/request/<%= req.FossilHunter.id %>/<%= site.id %>/reject">Reject</a></td>
        </tr>
        <% }) %>
    </table>
</body>
</html>